<!DOCTYPE html>

<!-- TY-09-12-2022-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Trevor Yee's Website">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="yeet@uwm.edu">
        <link rel="stylesheet" href="../index.css">
        <title> 
        yeet@uwm.edu's Website
        </title>
       
    </head>
    <body>
        <div class="bg-image"> </div>

        <div class='header'>
        <h1>yeet@uwm.edu's Website</h1>
        </div>

        <div class="links">
            <a href="../index.html">Home</a>
            <a href="../forms/index.html">Forms</a>
            <a href="../layout/index.html">Layout</a>
            <a href="../resume/index.html">Resume</a>
            <a href="../tables/index.html">Tables</a>
        </div>

        <hr>

        <div class="main_text">
        <p>Placeholder for Layout</p>
        </div>
        
        <hr>

    </body>
</html>