<!DOCTYPE html>

<!-- TY-09-12-2022-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Trevor Yee's Website">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="yeet@uwm.edu">
        <link rel="stylesheet" href="../index.css">
        <link rel="stylesheet" href="index.css">
        <title> 
        yeet@uwm.edu's Website
        </title>
       
    </head>
    <body>
        <div class="bg-image"> </div>

        <div class='header'>
        <h1>yeet@uwm.edu's Website</h1>
        </div>

        <div class="links">
            <a href="../index.html">Home</a>
            <a href="../forms/index.html">Forms</a>
            <a href="../layout/index.html">Layout</a>
            <a href="../resume/index.html">Resume</a>
            <a href="../tables/index.html">Tables</a>
        </div>
        <hr>
        <br>
        <div class="header">
        <h1> Layout News</h1>
        </div>
        <br>
        <hr>
        <div class="quicklinks">
            <a href="#National News">National News</a>
            <a href="#International News">International News</a>
            <a href="#Sports">Sports</a>
            <a href="#Science">Science</a>
            <a href="#Entertainment">Entertainment</a>
        </div>
        <div class="newstitle">
            Lorum Ipsum
        </div>
        <div class="newsimage">
            <img src="../images/news.jpg" class="newsimage" alt="There should be an image."></img>
        </div>
        <div class="newstext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet nec ullamcorper sit amet risus nullam eget felis eget. Sem fringilla ut morbi tincidunt augue interdum velit euismod in. Massa enim nec dui nunc mattis enim ut tellus. Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Amet nulla facilisi morbi tempus iaculis urna id volutpat. Lectus mauris ultrices eros in cursus turpis massa. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Eu turpis egestas pretium aenean pharetra magna. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Non nisi est sit amet facilisis magna etiam tempor. Lacus viverra vitae congue eu consequat ac felis donec. Id diam vel quam elementum pulvinar. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus. Id donec ultrices tincidunt arcu. Urna et pharetra pharetra massa massa ultricies mi quis hendrerit.
<br><br>
Nulla porttitor massa id neque. Nec feugiat nisl pretium fusce. Urna duis convallis convallis tellus id. Augue interdum velit euismod in pellentesque massa placerat duis ultricies. Platea dictumst vestibulum rhoncus est. Varius sit amet mattis vulputate enim nulla aliquet porttitor lacus. A lacus vestibulum sed arcu non odio euismod. A diam sollicitudin tempor id. Nunc vel risus commodo viverra maecenas accumsan. Duis at tellus at urna condimentum. Vestibulum morbi blandit cursus risus at ultrices. Aenean et tortor at risus viverra adipiscing. Viverra adipiscing at in tellus. Facilisi nullam vehicula ipsum a arcu. At erat pellentesque adipiscing commodo elit at imperdiet dui. Sed vulputate odio ut enim blandit volutpat maecenas. Tempus egestas sed sed risus pretium quam. Egestas sed sed risus pretium quam. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam eget.
<br><br>
Morbi leo urna molestie at elementum. Curabitur vitae nunc sed velit. Cursus mattis molestie a iaculis at erat pellentesque adipiscing commodo. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Non consectetur a erat nam at lectus urna duis convallis. Nisl tincidunt eget nullam non. Amet est placerat in egestas erat imperdiet sed. Lectus quam id leo in vitae turpis massa sed. Commodo viverra maecenas accumsan lacus vel facilisis volutpat. In ornare quam viverra orci sagittis eu volutpat. Eu volutpat odio facilisis mauris sit amet massa vitae tortor. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Hac habitasse platea dictumst vestibulum.
<br><br>
Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Faucibus turpis in eu mi. Viverra justo nec ultrices dui sapien eget mi. Viverra maecenas accumsan lacus vel facilisis. Duis at tellus at urna condimentum mattis pellentesque. Fusce id velit ut tortor. Tempus iaculis urna id volutpat. Sed augue lacus viverra vitae congue eu consequat. Mauris pharetra et ultrices neque ornare aenean euismod. Tincidunt praesent semper feugiat nibh sed. Facilisis mauris sit amet massa vitae tortor condimentum lacinia quis. Ac tincidunt vitae semper quis. Pellentesque eu tincidunt tortor aliquam. Et tortor at risus viverra.
<br><br>     

        </div>
        <div class="newslink">
            <a href="http://www.nytimes.com" class="newslink">Click to continue reading.</a>
        </div>

    </body>
</html>