body{
height: 100%;
margin: 0;
font-family: Arial;
}

.forms{
margin:100px;
border-style: solid;
border-radius: 5px;
}

.textinput1{
padding:auto;
position:relative;
height: 20px;
width:25%;
border-top:solid;
border-left: solid;
border-right: solid;
border-radius: 5px;
}

.textinput1:focus{
padding:auto;
position: relative;
height: 20px;
width:50%;
transition: width 1s;
background-color:aqua;
border-top:solid;
border-left: solid;
border-right: solid;
}

.textinput2{
padding:auto;
position:relative;
height: 20px;
width:25%;
border-top:solid;
border-left: solid;
border-right: solid;
border-bottom:solid;
border-radius: 5px;
}

.textinput2:focus{
padding:auto;
position: relative;
height: 20px;
width:50%;
transition: width 1s;
background-color:yellow;
border-top:solid;
border-left: solid;
border-right: solid;
border-bottom:solid;
}

.textarea{
margin-left:auto;
margin-right: auto;
}

.textarea1{
position:relative;
height: 100px;
width:100%;
border-top:solid;
border-left: solid;
border-right: solid;
border-bottom:solid;
border-radius: 5px;
}

.textarea1:focus{
position: relative;
height: 200px;
width:100%;
transition: height 1s;
background-color:red;
border-top:solid;
border-left: solid;
border-right: solid;
border-bottom:solid;
}

.dropdownmenu{
margin-top:50px;
font-size:23px;
background-color:fuchsia;
}

.submit{
margin-top:10px;
font-family: verdana;
font-size: 20px;
transition: font-size 0.5s;
}
.submit:hover{
font-family: verdana;
font-size: 30px;
}